@model IEnumerable<AirBnbFakeDatabase.Models.AmountOfListingsPerNeighbourhood>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Line Chart</h1>
</div>

<div id="chart-demo">
    @(Html.DevExtreme().Chart()
        .ID("line-chart")
        .CommonSeriesSettings(s => s
            .ArgumentField("NeighbourhoodName")
            .Type(SeriesType.Line)
        )
        .Series(s =>
                {
            s.Add()
                .ValueField("AmountOfListings")
                .Name("Amount of listings");
        })
        .Title(t => t
            .Text("Total Amount of Listings")
            .Subtitle(s => s.Text("(Per Neighbourhood)"))
        )
        .Export(e => e.Enabled(true))
         .DataSource(Model)
    )
</div>   