@model AirBnbChartWorkshop.Models.ViewModels.DevExtremeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this DevExtreme example</h1>
</div>

@(Html.DevExtreme().TabPanel()
    .ID("tabpanel-container")
    .Height("100%")
    .Width("100%")
    .SelectedIndex(0)
    .Loop(true)
    .AnimationEnabled(true)
    .Items(tabs => {
        tabs.Add().Title("Line").Template(@<text>@await Html.PartialAsync("DevExtremeLine", Model.LineChartData)</text>);

        tabs.Add().Title("Bar").Template(@<text>@await Html.PartialAsync("DevExtremeBar", Model.BarChartData)</text>);

        tabs.Add().Title("Pie").Template(@<text>@await Html.PartialAsync("DevExtremePie", Model.PieChartData)</text>);
        })
    .OnSelectionChanged("tabPanelSelection_changed")
)

<div class="item-box">
    Item <span class="selected-index">1</span>
    of <span>3</span>
</div>

<script>
    function tabPanelSelection_changed(e) {
        $(".selected-index")
            .text(e.component.option("selectedIndex") + 1);
    }
</script>