@model IEnumerable<AirBnbFakeDatabase.Models.AmountOfListingsPerNeighbourhood>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bar Chart</h1>
</div>

@(Html.DevExtreme().Chart()
    .ID("chart")
    .Series(s => s
        .Add()
        .ArgumentField("NeighbourhoodName")
        .ValueField("AmountOfListings")
        .Name("Amount of listings per neighbourhood")
        .Type(SeriesType.Bar)
        .Color("#ffaa66")
    )
    .DataSource(Model)
)