@model IEnumerable<AirBnbFakeDatabase.Models.AverageAmountOfBedsPerPriceRange>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Line Chart</h1>
</div>

<div id="chart-demo">
    @(Html.DevExtreme().Chart()
        .ID("line-chart")
        .Palette(VizPalette.Violet)
        .CommonSeriesSettings(s => s
            .ArgumentField("PriceRange")
            .Type(SeriesType.Line)
        )
        .Margin(m => m.Bottom(20))
        .ArgumentAxis(a => a
            .ValueMarginsEnabled(false)
            .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
            .Grid(g => g.Visible(true))
        )
        .Series(s => {
            s.Add().ValueField("AverageAmountOfBeds").Name("Average Amount Of Beds");
        })
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Bottom)
        )
        .Title(t => t
            .Text("Beds per Price Range")
            .Subtitle(s => s.Text("(On Average)"))
        )
        .Export(e => e.Enabled(true))
         .DataSource(Model)
    )

   
</div>   