@model AirBnbHighCharts.ViewModels.HighChartViewModel;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
    var neighbourhoods = @Html.Raw(JsonConvert.SerializeObject(@Model.GetNeighbourhoods(),
         new JsonSerializerSettings
         {
             ContractResolver = new CamelCasePropertyNamesContractResolver()
         }));


    var listings = @Html.Raw(JsonConvert.SerializeObject(@Model.GetAmountOfListings(),
         new JsonSerializerSettings
         {
             ContractResolver = new CamelCasePropertyNamesContractResolver()
         }));


    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Listings per Neighbourhood'
    },
    subtitle: {
        text: 'Listings from Amsterdam'
    },
    xAxis: {
        categories: neighbourhoods,
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Listings'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Neighbourhoods',
        data: listings
    }]
});
</script>